<template id="screen-template">
  <div class="typical-screen reset default-margin-bottom margin-x-auto">
    <div class="list">
      <p class="navigation-title">Screen name</p>
      <ul></ul>
    </div>
    <div class="navigation-detail">
      <div class="navigation-bar">
        <button class="navigation-button" onclick="hideDetail(this)">
          <span class="chevron"></span>
          Back
        </button>
        <span class="title"></span>
      </div>
      <div class="content"></div>
    </div>
  </div>
</template>
