
body {
    width: 100%;
    max-width: 70ch;
    margin-inline: auto;
    padding-inline: 1.5rem;
    padding-block: 6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: lightgray;
    text-decoration-thickness: 0.8px;
    color: var(--text-color);
    cursor: pointer;
}

a:hover {
    text-decoration-color: gray;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--soft-black);
}


::-webkit-selection,
::selection {
    color: black;
    background: #ffe5c1;
}

#cf {
    margin-bottom: 3rem;

}
#cf a {
    text-decoration: none;
    color: #666;
}
