html {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    letter-spacing: 0.01em;

}

@mixin reset-font-smoothing {
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}

strong,
h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    color: var(--soft-black);
    font-weight: normal;
    -webkit-text-stroke: 0.3px currentColor;
    /* text-shadow: 0.02em 0 currentColor, */
}

em {
    font-family: Palatino, "Book Antiqua", Georgia, serif;
    @include reset-font-smoothing;
}

pre, code {
    font-family: "Menlo", monospace;
}

@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: url(/cf.woff2) format('woff2');
}

@mixin cf {
  font-family: 'Cedarville Cursive';
}

.amp,
.cf {
    @include cf;
}
