html {
    font-size: 16px;
    font-family: Arial,sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

@mixin reset-font-smoothing {
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: normal;
    @include reset-font-smoothing;
}

em {
    font-family: Palatino, "Book Antiqua", Georgia, serif;
    @include reset-font-smoothing;
}
