html {
    font-size: 16px;
    font-family: system-ui, Arial,sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

@mixin reset-font-smoothing {
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}

strong,
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

em {
    font-family: Palatino, "Book Antiqua", Georgia, serif;
    @include reset-font-smoothing;
}

pre, code {
  font-family: ui-monospace, monospace, Courier;
}

@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: url(/cf.woff2) format('woff2');
}

@mixin cf {
  font-family: 'Cedarville Cursive';
}

.amp,
.cf {
    @include cf;
}
