 time,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    a {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    .visible {
        opacity: 1;
    }
    pre,
    img,
    video {
        filter: grayscale(1);
    }

    pre:hover,
    img:hover,
    video:hover,
    .active {
        filter: grayscale(0);
    }

    a,
    pre,
    img,
    video {
        transition: all 0.3s ease-in-out;
    }

    pre:hover,
    pre.active {
        background-color: rgba(0, 0, 0, 0.12);
    }