.list {
    h3 {
        margin-bottom: 32px;
    }
}

.list:has(.item:hover) .item a {
  opacity: 0.4;
}

.list:has(.item:hover) .item:hover a {
  opacity: 1;
}

.list {
    --item-padding: 16px;
    /* Padding correction */
    margin-top: -16px;
    section {
        margin-bottom: 2rem;
        /* display: grid; */
        /* grid-template-columns: 50px 1fr; */


        time {
            color: #777;
            transition: opacity 0.2s ease;
            @include reset-font-smoothing;
        }

        time:first-child {
            margin-top: var(--item-padding);
        }
        a {
            color: var(--text-color);
        }
        time {
            font-size: 14px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                padding: var(--item-padding) 0px;

                a {
                    display: grid;
                    grid-template-columns: 1fr 2rem;
                    align-items: center;
                    text-decoration: none;
                    transition: opacity 0.2s ease;
                }
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                time {
                    text-align: right;
                }
            }

            li:not(:last-child) {
                border-bottom: 1px solid;
            }
        }
    }

    section,
    section ul li:not(:last-child) {
        border-color: rgba(0,0,0,0.1);
    }

    &:hover time,
    &:hover li a {
        opacity: 0.4;
    }

    li:hover a {
        opacity: 1;
        color: black;
    }
}
