{{ define "main" }}
<style>
#writing {
    margin-top: 128px;
}

#title {
    margin-bottom: 32px;
    font-weight: 500;
}

.year-section {
  --item-padding: 16px;
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 2rem;
  border-top: 1px solid;
  .year {
      margin-top: var(--item-padding);
  }

  a {
      color: var(--text-color);
  }

  time {
      color: var(--mono-9);
      font-size: 0.9rem;
  }

  .post-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
       padding: var(--item-padding) 0px;

       a {
         display: grid;
         grid-template-columns: 1fr 60px;
         align-items: center;
         text-decoration: none;
         transition: opacity 0.2s ease;
       }

       p {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
       }

       time {
           text-align: right;
       }
    }

    .item:not(:last-child) {
      border-bottom: 1px solid;
    }
  }

  .post-list:hover .item a {
    opacity: 0.4;
  }

  .post-list .item:hover a {
    opacity: 1;
  }
}

.year-section,
.year-section .post-list .item:not(:last-child) {
    border-color: var(--mono-5);
}

#writing:has(.item:hover) .item a {
  opacity: 0.4;
}

#writing:has(.item:hover) .item:hover a {
  opacity: 1;
}
</style>


{{ $years := slice }}
{{ range .Pages }}
  {{ $year := .Date.Format "2006" }}
  {{ if not (in $years $year) }}
    {{ $years = $years | append $year }}
  {{ end }}
{{ end }}

{{ $pages := .Pages }}

<section id="writing">
    <h1 id="title">Writing</h1>
{{ range $years }}
    {{ $year := . }}
  <div id="section-{{ $year }}" class="year-section">
    <time id="{{ $year }}" class="year">{{ $year }}</time>
    <ul class="post-list">
      {{ range $pages }}

      {{ if eq (.Date.Format "2006") $year }}
        <li class="item">
            <a href={{ .RelPermalink }}>
            <p>{{ .Title }}</p>
            <time date="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2/6" }}</time>
            </a>
        </li>
      {{ end }}
      {{ end }}
    </ul>
    </div>
{{ end }}

</section>
{{ end }}
