{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    <time>{{ .Date.Format "January 2006" }}</time>
    {{ .Content }}
</article>
<style>
    article time {
        font-size: 0.875rem;
        font-weight: bold;
        display: block;
        color: gray;
        margin-bottom: 2rem;
    }
</style>

<style>
    pre {
        padding: 8;
        border-radius: 4px;
        border: 1px solid white;
        background-color: white !important;
    }

    time,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    a {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    .visible {
        opacity: 1;
    }
    pre,
    img,
    video {
        filter: grayscale(1);
    }

    pre:hover,
    img:hover,
    video:hover,
    .active {
        filter: grayscale(0);
    }

    a,
    pre,
    img,
    video {
        transition: all 0.3s ease-in-out;
    }

    pre:hover,
    pre.active {
        background-color: rgba(0, 0, 0, 0.12);
    }
</style>

<script>
    document.getElementById("v1").playbackRate = 1.5;

    function isCentered(el, tolerance = 200) {
        const rect = el.getBoundingClientRect();
        const center = window.innerHeight / 2;
        return (
            rect.top < center + tolerance && rect.bottom > center - tolerance
        );
    }

    const elements = document.querySelectorAll("pre, img, video");

    window.addEventListener("scroll", () => {
        let activeFound = false;

        elements.forEach((el) => {
            if (!activeFound && isCentered(el)) {
                el.classList.add("active");
                activeFound = true;
            } else {
                el.classList.remove("active");
            }
        });
    });

    // Llamada inicial por si ya hay uno centrado al cargar
    window.dispatchEvent(new Event("scroll"));

    const targets = document.querySelectorAll(
        "h1, h2, h3, h4, h5, h6, p, ul, ol, a, time, pre, img, video, nav",
    );

    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("visible");
                } else {
                    entry.target.classList.remove("visible");
                }
            });
        },
        {
            root: null,
            threshold: 0, // solo necesita un poquito visible
        },
    );

    targets.forEach((el) => observer.observe(el));
</script>

{{ end }}
