:root {
    --text-color:  rgba(0,0,0,0.66);
}

html, .body, h1, h2, h3, h4, h5, h6 {
    font-size: 17px;
    font-family: Arial,sans-serif;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-weight: normal;
}
html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 70ch;
    margin: auto;
    background: white;
    padding: 1.5rem;
    color: var(--text-color);
}

em {
    font-family: Georgia, serif;
}

::selection {
    background-color: #E1C5AE;
}
