:root {
    --vertical-margin: 128px;
    --width: 640px;
}

body {
    min-width: var(--width);
    max-width: 1072px;
    margin: var(--vertical-margin) auto;
}

main {
  display: grid;
  grid-template-columns: 192px var(--width) 192px;
  column-gap: 24px;
  align-items: flex-start;

  aside {
      a {
          color: var(--mono-11);
          font-size: 0.9rem;
          text-decoration: none;
      }
  }
}

main aside:first-child {
    position: sticky;
    white-space: nowrap;
    z-index: 1;
    top: var(--vertical-margin);
}

main > :only-child {
  grid-column: 2;
}
