
/* Components */
.collection {
    h3 {
        margin-bottom: 32px;
        font-weight: 500;
    }
}

.collection:has(.item:hover) .item a {
  opacity: 0.4;
}

.collection:has(.item:hover) .item:hover a {
  opacity: 1;
}

.collection {
    section {
        --item-padding: 16px;
        display: grid;
        grid-template-columns: 80px 1fr;
        column-gap: 2rem;
        border-top: 1px solid;

        time:first-child {
            margin-top: var(--item-padding);
        }
        a {
            color: var(--text-color);
        }
        time {
            color: var(--mono-9);
            font-size: 0.9rem;
            font-weight: 500;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                padding: var(--item-padding) 0px;

                a {
                    display: grid;
                    grid-template-columns: 1fr 60px;
                    align-items: center;
                    text-decoration: none;
                    transition: opacity 0.2s ease;
                }
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                time {
                    text-align: right;
                }
            }

            li:not(:last-child) {
                border-bottom: 1px solid;
            }
        }
    }

    section,
    section ul li:not(:last-child) {
        border-color: var(--mono-5);
    }

    &:hover li a {
        opacity: 0.4;
    }
    li:hover a {
        opacity: 1;
    }
}
