img, video {
    display: block;
    margin: auto
}

blockquote {
    border-left: 1px solid #D9D9D9;
    padding: 0 1.5rem;
    font-style: italic;
}
.footnotes hr {border: 0.8px solid #D9D9D9;}
.footnotes p {margin-bottom: 0.5rem;}

time {
    display: block;
    color: var(--mono-11);
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    pre code > span {
        display: inline !important;
        font-size: inherit !important;
    }
}

pre {
    padding: 0.8rem;
    border-radius: 0.25rem;
    overflow-x: scroll;
    font-size: 0.8125rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

    font-family:
        ui-monospace, SFMono-Regular, Menlo, "Andale Mono", Consolas, Monaco,
        monospace;
}

p > code {
    padding: 0.2rem;
    border-radius: 0.25rem;
    font-size: 0.8125rem;
}

.nav {
    #TableOfContents {
       ul {
           list-style: none;
           white-space: nowrap;
           padding: 0;
           li {
               margin-bottom: 8px;
               width: 15ch;
               text-overflow: ellipsis;
               overflow: hidden;
           }
       }
    }

    a {
        color: var(--mono-11);
        font-size: 0.9rem;
        text-decoration: none;
    }

    .index-link {
        display: block;
        margin-bottom: 64px;
    }
}

.footnotes {
    font-size: 0.8125rem;
    color: gray;
}

.footnote-ref {
    font-weight: bold;
    text-decoration: none;
}
