<div
  x-data="likeComponent()"
  x-init="init()"
>
  <button @click="add('likes')">
    👍 <span x-show="loaded" x-transition x-text="likes"></span>
  </button>
  <button @click="add('dislikes')">
    👎 <span x-show="loaded" x-transition x-text="dislikes"></span>
  </button>
</div>

<script>
function likeComponent() {
  return {
    likes: 0,
    dislikes: 0,
    loaded: false,
    queued: { likes: 0, dislikes: 0 },
    debounceTimer: null,
    slug: window.location.pathname,
    api: "https://like-dislike.deno.dev",

    init() {
      fetch(`${this.api}/?slug=${this.slug}`)
        .then(r => r.json())
        .then(data => {
          this.likes = data.likes;
          this.dislikes = data.dislikes;
          this.loaded = true;
        });
    },

    add(type) {
      this[type]++;
      this.queued[type]++;

      clearTimeout(this.debounceTimer);

      this.debounceTimer = setTimeout(() => {
        if (this.queued.likes > 0) {
          fetch(`${this.api}/likes?slug=${this.slug}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({ value: this.queued.likes })
          });
          this.queued.likes = 0;
        }

        if (this.queued.dislikes > 0) {
          fetch(`${this.api}/dislikes?slug=${this.slug}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({ value: this.queued.dislikes })
          });
          this.queued.dislikes = 0;
        }
      }, 800);
    }
  };
}
</script>
