{{ define "meta" }}
  <meta property="og:title" content="{{ .Title | htmlEscape }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:description" content="{{ site.Params.description }}" />
  <meta name="description" content="{{  site.Params.description }}" />

{{ end }}

{{ define "main" }}

    <section style="
        height: 100vh;
        padding-top:180px;">
    <p style="font-family: Georgia, serif; font-size: 20px;">
        <span style="color: rgba(0,0,0,1)">Cristian F. Patiño Rojas.</span><br/> Software Engineer. Crafting architectures & <span style="color: rgba(0,0,0,1)"><em>polished interfaces</em></span>.
    </p>

       <p style="margin-top: 2rem">I want to build products others fall in love with.</p>
       <a href="#next" style="position:absolute;bottom:1.5rem;right:1.5rem">v</a>
    </section>

    <style>
        html, body {
            overflow-x: hidden;

        }
        h3::after {
            content: '';
            height: 1px;
            background: rgba(0, 0, 0, 0.1);
            flex-grow: 1;
            margin-left: 1rem;
        }

        h3 {
            position: relative;
            display: flex;
            align-items: center;
        }


    </style>


    <section id="next" style="height: 100vh">
        <p style="font-family: Georgia; margin-top: 2rem"><em>Things I enjoy</em></p>
        <section style="margin-top: 4rem">
            <h3 style="color: black">Illustration</h3>
            <div style="">
            <img style="margin-top: 1rem" width="100%" src="/panda.jpeg"/>
            </div>
        </section>
    </section>
{{ end }}
