{{ define "meta" }}
  <meta property="og:title" content="{{ .Title | htmlEscape }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:description" content="{{ site.Params.description }}" />
  <meta name="description" content="{{  site.Params.description }}" />
{{ end }}

{{ define "head" }}
    {{ with resources.Get "home/main.scss" | toCSS | minify }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}
{{ end }}

{{ define "main" }}
    <section data-anim="2">
    <p>Crafting architectures <span class="amp">&</span> <span>polished interfaces</span>.</p>
    <p>I want to build products others fall in love with.</p>
    </section>

    {{ $writing := where .Site.RegularPages "Section" "writing" }}
    {{ partial "list.html" (dict "pages" $writing "title" "Writing" "content" "" "anim" "3" ) }}
{{ end }}
