
pre,
code {
  background:  rgb(243,243,243);
  font-size: 13px;
  border-radius: 4px;
}

pre {
    overflow-x: scroll;
    padding: 10px 14px;
}

a > code,
li > code,
p > code {
    background: rgb(237,237,237);
    padding: 2px 4px;
    color: var(--soft-black);
}
