
pre,
p > code {
  background:  rgb(237,237,237);
  filter: grayscale(1);
  font-size: 13px;
  border-radius: 4px;
  color: rgba(0,0,0,0.8);
}

pre {
    overflow-x: scroll;
    padding: 10px 14px;
}

a > code,
li > code,
p > code {
    padding: 2px 4px;
}
