@import "../baseof/main";
@import "../components/animation";
@import "lists";
@import "code";
@import "blockquote";
@import "footnotes";
@import "spacing";

img {
    display: block;
    margin-inline: auto;
}

time {
    margin-top: 4px;
    margin-bottom: 3rem;
    color: #666;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
    margin-inline: auto;
    margin-block: 4rem;
    width: 250px;
}

footer {
    margin-top: 10rem;
    display: flex;
    justify-content: end;
}
